* {
    box-sizing:border-box;
  }
/*head*/

  body {
   /*  background-color:#f4e1d2 ; 색은 따뜻한데,, */
  }

  .titleUp {
    font-size: xx-large;
    text-align: center;
    background-color:white;
    margin:0;
    padding:0;
    width: 100%;
    height: 60px;
  }
  
  .left {
    text-align: center;
    /* border: 1px solid black; */
   /*  background-color:#b2b2b2; */
    padding:20px;
    float:left;
    width:20%; /* The width is 20%, by default */
    height: 174px;
  }

  .main {
    text-align: center;
    background-color:white;
    padding:20px;
    float:left;
    width:60%; /* The width is 60%, by default */
    height: 174px;
    border: 1px solid black;
  }
  .main_vision {
    border: 1px solid black;
    width: 700px;
    float: left;
    margin: 50px; 
    /* padding: 70px; margin 해야 내랑 의도 비슷 */
    height: 150px;
  }
  .vision_p {
    margin:50px;
    color:black;
    font-size: x-large;
  }

  .right {
    text-align: center;
    background-color:#b2b2b2;
    padding:20px;
    float:left;
    width:20%; /* The width is 20%, by default */
    height: 174px;
    border: 1px solid black;
  }
 
  ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
  }

  a:link {
    color: black;
    text-decoration: none;
    display: block;
    background-color: white;
  }

  a:hover {
    background-color: whitesmoke;
  }


  .head-li {
    
    display: block;
    font-size: x-large;
    float: left;
    outline: 1px soild black ;
    margin-left: 20px;
    text-decoration: none;
  }

/*main*/

  .nav_main {
      border: 1px solid black ;
      color:red;
      width:100%;
      height: 500px; 
  }
  
/*genre*/
  .nav_genre {
      border: 1px solid black ;
      color: beige;
      width:100%;
      height: 500px;

  }

/*visitor*/
  .nav_visitor {
      border: 1px solid black ;
      color:gray;
      width:100%;
      height: 500px;
  }

/*insight*/
  .nav_insight {
    border: 1px solid black ;
    color:gray;
    width:100%;
    height: 500px;
   }

/*footer*/
  .nav_footer {
      border: 1px solid black ;
      color: black;
      width:100%;
      height: 500px;

  }  
  /* Use a media query to add a break point at 800px: */
  @media screen and (max-width:800px) {
    .left, .main, .right {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }